/* Light mode styles */
.light-mode {
    background-color: #FFF;
    color: #000;
}

.light-mode .header {
    background-color: #bdbdbd;
    color: #333;
}

.light-mode .nav-bar {
    background-color: #f0f0f0;
    color: #000;
}

.light-mode .nav-bar a {
    background-color: #f0f0f0;
    color: #000;
}

.light-mode .nav-bar a:hover {
    color: green;
}

.light-mode .toggle-btn {
    background-color: #f0f0f0;
    color: black;
}

.light-mode .w3-card {
    background-color: #f0f0f0;
    color: black;
}

.light-mode .w3-panel {
    background-color: #f0f0f0;
    color: black;
}


/* Dark mode styles */
.dark-mode {
    background-color: #4d4b4b;
    color: #FFF;
}

.dark-mode .header {
    background-color: #161616;
    color: #CCC;
}

.dark-mode .nav-bar {
    background-color: #222;
    color: #CCC;
}

.dark-mode .nav-bar a {
    background-color: #222;
    color: #CCC;
}

.dark-mode .nav-bar a:hover {
    color: yellow;
}

.dark-mode .toggle-btn {
    background-color: #222;
    color: #CCC;
}

.dark-mode .w3-card {
    background-color: #333;
    color: #CCC;
}

.dark-mode .w3-panel {
    background-color: #333;
    color: #CCC;
}

.w3-container.dark-mode, .w3-container.dark-mode input, .w3-container.dark-mode select, .w3-container.dark-mode textarea, .w3-container.dark-mode button {
    background-color: #333;
    color: #fff;
}

.w3-container.light-mode, .w3-container.light-mode input, .w3-container.light-mode select, .w3-container.light-mode textarea, .w3-container.light-mode button {
    background-color: #fff;
    color: #000;
}
