/*
    Global styles for the application
*/


:root {
    /* Highlighting variables */
    --highlight-different: yellow;
    --highlight-different-color: black;
    --highlight-missing: red;
    --highlight-missing-text: italic;
    --highlight-missing-color: white;
}

/* Base reset for html and body */
html, body {
    height: 100% -20px;
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
    overflow-x: hidden;                                 /* Prevent horizontal scroll */
}

/* Header styles */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
 }

.debug-icon {
    color: red;
    font-size: 32px;
    margin-left: 10px;
    cursor: pointer;
}

.refresh-icon {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
    margin-left: 10px;
    color: white;
}

.header-title {
    flex-grow: 1;
    text-align: center;
}

/* Body offset to account for fixed header */
body {
    margin-top: 70px;
    transition: background-color 0.5s, color 0.5s;      /* Smooth transition for theme change */
}

/* Main content styling */
#main-content {
    visibility: hidden;                                 /* Hide content until loaded */
    padding: 20px;
    margin-left: 20px;
    transition: padding-left 0.5s ease;                 /* Smooth transition for sidebar toggle */
}

/* Indenting unordered list items */
.indented-list {
    padding-left: 50px;
    list-style-type: none;
}

/* Highlighting styles for comparison */
/* Different items */
button.highlight-different {
    background-color: var(--highlight-different);
    color: var(--highlight-different-color);
}

/* Missing items */
button.highlight-missing {
    background-color: var(--highlight-missing);
    font-style: var(--highlight-missing-text);
    color: var(--highlight-missing-color);
}

/* Disabled items */
button.highlight-disabled {
    background-color: lightgray;
    color: darkgray;
}

/* Collapsible content */
.collapsible-content {
    display: none;
}

/* Tables showing objects */
.left-cell {
    font-weight: bold;
    width: 25%;
}

.indented-table {
    margin-left: 50px;
}

/* Class to disable animations */
.no-animation *,
.no-animation *::before,
.no-animation *::after {
    transition: none !important;
    animation: none !important;
}

.add-button {
    background-color: #4CAF50;                        /* Green background */
    border: none;                                       /* Remove borders */
    color: white;                                     /* White text */
    padding: 5px 20px;                                  /* Some padding */
    text-align: center;                                 /* Centered text */
    text-decoration: none;                              /* Remove underline */
    display: inline-block;                              /* Make the container inline-block */
    font-size: 16px;                                    /* Increase font size */
    margin: 0px 4px;                                    /* Some margin */
    cursor: pointer;                                    /* Pointer/hand icon */
    border-radius: 2px;
    transition: background-color 0.3s;                  /* Smooth transition */
}

.add-button:hover {
    background-color: #45a049;                        /* Darker green on hover */
}

.add-button i {
    margin-right: 5px;                                  /* Add some space between icon and text */
}

/* Copy icon next to text boxes */
.input-group {
    display: flex;
    align-items: center;
}
.input-group input {
    flex: 1;
}
.input-group button {
    margin-left: 10px;
}

/* Dropdown styling */
.deviceDropdown {
    max-height: 300px;
    overflow-y: auto;
}

/* Icon link styling */
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-links {
    display: flex;
}

.icon-link {
    margin-left: 10px;
}

.icon-link i {
    font-size: 1.2em;
}
