html, body {
    margin: 0;
    padding: 0;
}
.header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center; /* This centers the flex items horizontally */
}
body {
    margin-top: 70px; /* Adjust based on the height of your header */
    transition: background-color 0.5s, color 0.5s;
}
#main-content {
    padding: 20px;
    margin-left: 20px;
    transition: padding-left 0.5s ease;
}
