/*
    Global styles for the application
*/


:root {
    /* Highlighting variables */
    --highlight-different: yellow;
    --highlight-different-color: black;
    --highlight-missing: red;
    --highlight-missing-text: italic;
    --highlight-missing-color: white;
}

/* Base reset for html and body */
html, body {
    height: 100% -20px;
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
    overflow-x: hidden;                                 /* Prevent horizontal scroll */
}

/* Header styles */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
}

.debug-icon {
    color: red;
    font-size: 32px;
    margin-left: 10px;
    cursor: pointer;
}

.refresh-icon {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
    margin-left: 10px;
    color: white;
}

.header-title {
    flex-grow: 1;
    text-align: center;
}

/* Body offset to account for fixed header */
body {
    margin-top: 70px;
    transition: background-color 0.5s, color 0.5s;      /* Smooth transition for theme change */
}

/* Main content styling */
#main-content {
    visibility: hidden;                                 /* Hide content until loaded */
    padding: 20px;
    margin-left: 20px;
    transition: padding-left 0.5s ease;                 /* Smooth transition for sidebar toggle */
}

/* Indenting unordered list items */
.indented-list {
    padding-left: 50px;
    list-style-type: none;
}

/* Highlighting styles for comparison */
/* Different items */
button.highlight-different {
    background-color: var(--highlight-different);
    color: var(--highlight-different-color);
}

/* Missing items */
button.highlight-missing {
    background-color: var(--highlight-missing);
    font-style: var(--highlight-missing-text);
    color: var(--highlight-missing-color);
}

/* Disabled items */
button.highlight-disabled {
    background-color: lightgray;
    color: darkgray;
}

/* Collapsible content */
.collapsible-content {
    display: none;
}

/* Tables showing objects */
.left-cell {
    font-weight: bold;
    width: 25%;
}

.indented-table {
    margin-left: 50px;
}

/* Class to disable animations */
.no-animation *,
.no-animation *::before,
.no-animation *::after {
    transition: none !important;
    animation: none !important;
}
