<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Palo Alto Management</title>

        <link rel="stylesheet preload" href="{{ url_for('static', filename='css/dark-mode.css') }}" as="style">
        <script>
            // Immediately apply the saved theme to avoid FOUC (Flash of Unstyled Content)
            (function() {
                var currentTheme = localStorage.getItem('theme') || 'light-mode';
                document.documentElement.className = currentTheme;
            })();
        </script>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/slider.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    </head>

    <body>
        <!-- Header at the top of the screen -->
        <header class="header">
            <div style="flex-grow: 1; text-align: center;">
                <h2>Palo Alto Management</h2>
            </div>
            <label class="switch">
                <input type="checkbox" id="mode-toggle">
                <span class="slider round"></span>
            </label>
        </header>

        <!-- Navigation bar on the left -->
        <nav class="nav-bar" id="navBar">
            <div class="nav-item">
                <a href="/devices">
                    <span class="nav-icon"><i class="fas fa-network-wired"></i></span>
                    <span class="nav-text">Devices</div>
                </a>
            </div>
            <div class="nav-item">
                <a href="/objects">
                    <span class="nav-icon"><i class="fas fa-list"></i></span>
                    <span class="nav-text">Objects</div>
                </a>
            </div>
            <div class="nav-item">
                <a href="/policies">
                    <span class="nav-icon"><i class="fas fa-code"></i></span>
                    <span class="nav-text">Policies</div>
                </a>
            </div>
            <div class="nav-item">
                <a href="/settings">
                    <span class="nav-icon"><i class="fas fa-cogs"></i></span>
                    <span class="nav-text">Settings</div>
                </a>
            </div>
            <div class="nav-item">
                <a href="/">
                    <span class="nav-icon"><i class="fas fa-info-circle"></i></span>
                    <span class="nav-text">About</div>
                </a>
            </div>
            <div class="toggle-btn" onclick="toggleNav()">☰</div>
        </nav>

        <div id="main-content">
            {% block content %}
            {% endblock %}
        </div>

        <script src="{{ url_for('static', filename='js/theme-toggle.js') }}"></script>
        <script src="{{ url_for('static', filename='js/adjust-header.js') }}"></script>
        <script src="{{ url_for('static', filename='js/nav.js') }}"></script>
        <script src="{{ url_for('static', filename='js/form.js') }}"></script>
        <script src="{{ url_for('static', filename='js/modal.js') }}"></script>
        <script src="{{ url_for('static', filename='js/dark-mode.js') }}"></script>
    </body>
</html>
