<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Flask App</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/dark-mode.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/slider.css') }}">
    </head>
    <body class="light-mode">
        <div class="header">
            <div style="flex-grow: 1; text-align: center;">
                <h1>My Flask App</h1>
            </div>
            <label class="switch">
                <input type="checkbox" id="mode-toggle">
                <span class="slider round"></span>
            </label>
        </div>
        
        {% block content %}
        {% endblock %}
        
        <script src="{{ url_for('static', filename='js/theme-toggle.js') }}"></script>
        <script src="{{ url_for('static', filename='js/adjust-header.js') }}"></script>

    </body>
</html>
