<!-- index.html -->
{% extends "base.html" %}

{% block content %}

<!-- Info Cards -->
<div class="w3-row-padding w3-margin-bottom">
    <header class="w3-container" style="padding-top:22px">
        <h2><b>
            <i class="fa fa-dashboard"></i> Device Dashboard
        </b></h2>
    </header>

    <!-- Panel #1 -->
    <div class="w3-quarter">
        <a href="#devicesSection" style="text-decoration: none;">
            <div class="w3-container w3-red w3-padding-16">
                <div class="w3-left">
                    <i class="fa-solid fa-list-ol w3-xxxlarge"></i>
                </div>
                <div class="w3-right">
                    <h2>{{ device_count }}</h2>
                </div>
                <div class="w3-clear"></div>
                <h4>Device Count</h4>
            </div>
        </a>
    </div>

    <!-- Panel #2 -->
    <div class="w3-quarter">
        <a href="#sitesSection" style="text-decoration: none;">
            <div class="w3-container w3-blue w3-padding-16">
                <div class="w3-left">
                    <i class="fa fa-building-shield w3-xxxlarge"></i>
                </div>
                <div class="w3-right">
                    <h2>{{ site_count }}</h2>
                </div>
                <div class="w3-clear"></div>
                <h4>Site Count</h4>
            </div>
        </a>
    </div>

    <!-- Panel #3 -->
    <div class="w3-quarter">
        <a href="#haSection" style="text-decoration: none;">
            <div class="w3-container w3-teal w3-padding-16">
                <div class="w3-left">
                    <i class="fa fa-share-alt w3-xxxlarge"></i>
                </div>
                <div class="w3-right">
                    <h2>0</h2>
                </div>
                <div class="w3-clear"></div>
                <h4>HA Pairs</h4>
            </div>
        </a>
    </div>

    <!-- Panel #4 -->
    <div class="w3-quarter">
        <a href="#devicesSection" style="text-decoration: none;">
            <div class="w3-container w3-orange w3-padding-16">
                <div class="w3-left">
                    <i class="fa fa-share-alt w3-xxxlarge"></i>
                </div>
                <div class="w3-right">
                    <h2>0</h2>
                </div>
                <div class="w3-clear"></div>
                <h4>Future Panel</h4>
            </div>
        </a>
    </div>
</div>

<!-- Device List -->
<br><hr>
<div class="w3-row-padding w3-margin-bottom">
    <header class="w3-container collapsible-header" id="devicesSection" data-card-type="device-card">
        <h2>Devices <i class="fas fa-chevron-down collapse-icon" style="font-size: 0.75em;"></i></h2>
    </header>
    
    <!-- Populate device cards from the list -->
    {% for device in device_list %}
    <div class="w3-half">
        <div class="w3-container w3-padding-16 device-card">
            <div class="w3-card-4">
                <header class="w3-container w3-light-grey">
                    <h3>{{ device.name }}</h3>
                </header>
                <br>
                <div class="w3-container">
                    <table class="w3-table">
                        <tr>
                            <td><b>Site</b></td>
                            <td>{{ device.site_name }}</td>
                        </tr>
                        <tr>
                            <td><b>Site ID</b></td>
                            <td>{{ device.site }}</td>
                        </tr>
                        <tr>
                            <td><b>Model</b></td>
                            <td>{{ device.model }}</td>
                        </tr>
                        <tr>
                            <td><b>Serial</b></td>
                            <td>{{ device.serial }}</td>
                        </tr>
                        <tr>
                            <td><b>Version</b></td>
                            <td>{{ device.version }}</td>
                        </tr>
                        <tr>
                            <td><b>HA enabled</b></td>
                            <td>{{ device.ha_enabled }}</td>
                        </tr>
                        <tr>
                            <td><b>HA State</b></td>
                            <td>{{ device.ha_local_state }}</td>
                        </tr>
                        <tr>
                            <td><b>HA Partner</b></td>
                            <td>{{ device.ha_peer_serial }}</td>
                        </tr>
                        <tr>
                            <td><b>HA Partner State</b></td>
                            <td>{{ device.ha_peer_state }}</td>
                        </tr>
                    </table>
                </div>
                <br>
                <button data-device-id="{{ device.id }}" class="w3-button w3-block w3-blue device-download-button">Download Config</button>
                <button data-device-id="{{ device.id }}" data-device-name="{{ device.name }}" data-device-hostname="{{ device.hostname }}" data-device-site="{{ device.site }}" data-device-key="{{ device.key }}" class="w3-button w3-block w3-green device-edit-button">Edit</button>
                <button data-device-id="{{ device.id }}" class="w3-button w3-block w3-red device-delete-button">Delete</button>
            </div>
        </div>
    </div>
    {% else %}
    <div class="w3-container w3-padding-16 device-card">
        <div class="w3-card-4">
            <header class="w3-container w3-light-grey">
                <h3>No Devices Found</h3>
            </header>
        </div>
    </div>
    {% endfor %}
    <button class="w3-button w3-block w3-green" id="add_device">Add Device</button>
    <button class="w3-button w3-block w3-blue" id="refresh_device">Refresh Device List</button>
    <!-- Loading Spinner -->
    <div id="loadingSpinner" class="loading-spinner" style="display: none;"></div>
</div>

<!-- HA Pair List -->
<br><hr>
<div class="w3-row-padding w3-margin-bottom">
    <header class="w3-container collapsible-header" id="haSection" data-card-type="ha-card">
        <h2>HA Pairs <i class="fas fa-chevron-down collapse-icon" style="font-size: 0.75em;"></i></h2>
    </header>

    <!-- Create cards for HA pairs -->
    {% for pair in ha_list %}
    <div class="w3-third">
        <div class="w3-container w3-padding-16 ha-card"> <!-- Changed class to ha-card to match data-card-type -->
            <div class="w3-card-4">
                <header class="w3-container w3-light-grey">
                    <h3>HA Pair</h3>
                </header>
                <br>
                <div class="w3-container">
                    <table class="w3-table">
                        <tr>
                            <td><b>Active Member</b></td>
                            <td>{{ pair.active }}</td>
                        </tr>
                        <tr>
                            <td><b>Standby Member</b></td>
                            <td>{{ pair.passive }}</td>
                        </tr>
                    </table>
                    <br>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="w3-container w3-padding-16 ha-card"> <!-- Changed class to ha-card for consistency -->
        <div class="w3-card-4">
            <header class="w3-container w3-light-grey">
                <h3>No HA Pairs Found</h3>
            </header>
        </div>
    </div>
    {% endfor %}
</div>

<!-- Site List -->
<br><hr>
<div class="w3-row-padding w3-margin-bottom">
    <div class="w3-container">
        <header class="w3-container collapsible-header" id="sitesSection" data-card-type="site-card">
            <h2>Sites <i class="fas fa-chevron-down collapse-icon" style="font-size: 0.75em;"></i></h2>
        </header>

        <!-- Site Cards -->
        {% for site in site_list %}
        <div class="w3-third">
            <div class="w3-container w3-padding-16 site-card">
                <div class="w3-card-4">
                    <header class="w3-container w3-light-grey">
                        <h3>{{ site.name }}</h3>
                    </header>
                    <br>
                    <div class="w3-container">
                        <table class="w3-table">
                            <tr>
                                <td><b>ID</b></td>
                                <td>{{ site.id }}</td>
                            </tr>
                            <tr>
                                <td><b>Device Count</b></td>
                                <td>{{ site.device_count }}</td>
                            </tr>
                        </table>
                    </div>
                    <button data-site-id="{{ site.id }}" data-site-name="{{ site.name }}" class="w3-button w3-block w3-green site-edit-button">Edit</button>
                    <button data-site-id="{{ site.id }}" class="w3-button w3-block w3-red site-delete-button">Delete</button>
                </div>
            </div>
        </div>
        {% else %}
        <div class="w3-container w3-padding-16 device-card">
            <div class="w3-card-4">
                <header class="w3-container w3-light-grey">
                    <h3>No Devices Found</h3>
                </header>
            </div>
        </div>
        {% endfor %} 
        <button class="w3-button w3-block w3-green" id="add_site">Add Site</button>
        <button class="w3-button w3-block w3-blue" id="refresh_site">Refresh Site List</button>
    </div>
</div>

<!-- The Add Device Modal -->
<div id="deviceModal" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">
        <div class="w3-center"><br>
            <span onclick="document.getElementById('deviceModal').style.display='none'" class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>
            <h3>Add Device</h3>
        </div>

        <form class="w3-container">
            <div class="w3-section">
                <label><b>Device Name</b></label>
                <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Friendly Name" name="deviceName" required>
                <label><b>Hostname</b></label>
                <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Hostname of IP of the device" name="hostName" required>
                <label><b>Site Membership</b></label>
                <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="The site this belongs to" name="siteMember" required>
                <label><b>API Key (REST API)</b></label>
                <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="API key to access the device" name="apiKey" required>
                <label><b>Username (XML API)</b></label>
                <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="API key to access the device" name="apiUser" required>
                <label><b>Password (XML API)</b></label>
                <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="API key to access the device" name="apiPass" required>
                <button id="deviceSubmit" class="w3-button w3-block w3-green w3-section w3-padding" type="submit">Submit</button>
            </div>
        </form>

        <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
            <button onclick="document.getElementById('deviceModal').style.display='none'" type="button" class="w3-button w3-red">Cancel</button>
        </div>
    </div>
</div>

<!-- The Edit Device Modal -->
<div id="deviceEditModal" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">
        <div class="w3-center"><br>
            <span onclick="document.getElementById('deviceEditModal').style.display='none'" class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>
            <h3>Edit Device</h3>
        </div>

        <form class="w3-container">
            <div class="w3-section">
                <label><b>Device Name</b></label>
                <input class="w3-input w3-border w3-margin-bottom" type="text" name="deviceEditName" required>
                <label><b>Hostname</b></label>
                <input class="w3-input w3-border w3-margin-bottom" type="text" name="hostNameEdit" required>
                <label><b>Site Membership</b></label>
                <input class="w3-input w3-border w3-margin-bottom" type="text" name="siteMemberEdit" required>
                <label><b>API Key (REST API)</b></label>
                <input class="w3-input w3-border w3-margin-bottom" type="text" name="apiKeyEdit" required>
                <label><b>Username (XML API)</b></label>
                <input class="w3-input w3-border w3-margin-bottom" type="text" name="apiUserEdit">
                <label><b>Password (XML API)</b></label>
                <input class="w3-input w3-border w3-margin-bottom" type="text" name="apiPassEdit">
                <input type="hidden" name="deviceEditId" id="deviceEditId">
                <button id="deviceEditSubmit" class="w3-button w3-block w3-green w3-section w3-padding" type="submit">Submit</button>
            </div>
        </form>

        <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
            <button onclick="document.getElementById('deviceEditModal').style.display='none'" type="button" class="w3-button w3-red">Cancel</button>
        </div>
    </div>
</div>

<!-- The Add Site Modal -->
<div id="siteModal" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">
        <div class="w3-center"><br>
            <span onclick="document.getElementById('siteModal').style.display='none'" class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>
            <h3>Add Site</h3>
        </div>

        <form class="w3-container">
            <div class="w3-section">
                <label><b>Site Name</b></label>
                <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter the name of the site" name="siteName" required>
                <button id="siteSubmit" class="w3-button w3-block w3-green w3-section w3-padding" type="submit">Submit</button>
            </div>
        </form>

        <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
            <button onclick="document.getElementById('siteModal').style.display='none'" type="button" class="w3-button w3-red">Cancel</button>
        </div>
    </div>
</div>

<!-- The Edit Site Modal -->
<div id="siteEditModal" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">
        <div class="w3-center"><br>
            <span onclick="document.getElementById('siteEditModal').style.display='none'" class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>
            <h3>Edit Site</h3>
        </div>

        <form class="w3-container">
            <div class="w3-section">
                <label><b>Site Name</b></label>
                <input class="w3-input w3-border w3-margin-bottom" type="text" name="siteEditName" required>
                <input type="hidden" name="siteEditId" id="siteEditId">
                <button id="siteEditSubmit" class="w3-button w3-block w3-green w3-section w3-padding" type="submit">Submit</button>
            </div>
        </form>

        <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
            <button onclick="document.getElementById('siteEditModal').style.display='none'" type="button" class="w3-button w3-red">Cancel</button>
        </div>
    </div>
</div>


{% endblock %}
