<!-- index.html -->
{% extends "base.html" %}

{% block content %}

<!-- Header -->
<header class="w3-container" style="padding-top:22px">
    <h2><b><i class="fa fa-dashboard"></i> Device Dashboard</b></h2>
</header>

<!-- Info Cards -->
<div class="w3-row-padding w3-margin-bottom">
    <!-- Panel #1 -->
    <div class="w3-quarter">
      <div class="w3-container w3-red w3-padding-16">
        <div class="w3-left"><i class="fa-solid fa-list-ol w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h2>{{ device_count }}</h2>
        </div>
        <div class="w3-clear"></div>
        <h4>Device Count</h4>
      </div>
    </div>

    <!-- Panel #2 -->
    <div class="w3-quarter">
      <div class="w3-container w3-blue w3-padding-16">
        <div class="w3-left"><i class="fa fa-building-shield w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h2>{{ site_count }}</h2>
        </div>
        <div class="w3-clear"></div>
        <h4>Site Count</h4>
      </div>
    </div>

    <!-- Panel #3 -->
    <div class="w3-quarter">
      <div class="w3-container w3-teal w3-padding-16">
        <div class="w3-left"><i class="fa fa-share-alt w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h2>0</h2>
        </div>
        <div class="w3-clear"></div>
        <h4>HA Pairs</h4>
      </div>
    </div>

    <!-- Panel #4 -->
    <div class="w3-quarter">
        <div class="w3-container w3-orange w3-padding-16">
          <div class="w3-left"><i class="fa fa-share-alt w3-xxxlarge"></i></div>
          <div class="w3-right">
            <h2>0</h2>
          </div>
          <div class="w3-clear"></div>
          <h4>Future Panel</h4>
        </div>
    </div>
</div>

<!-- Device List -->
<br><hr>
<div class="w3-row-padding w3-margin-bottom">
    <div class="w3-container">
    <header class="w3-container">
        <h2>Devices</h2>
    </header>
    
    <!-- Populate device cards from the list -->
    {% for device in device_list %}
    <div class="w3-third">
        <div class="w3-container w3-padding-16">
            <div class="w3-card-4">
            <header class="w3-container w3-light-grey">
                <h3>{{ device.name }}</h3>
            </header>
            <br>
            <div class="w3-container">
                <table class="w3-table">
                    <tr>
                        <td><b>Site</b></td>
                        <td>{{ device.site }}</td>
                    </tr>
                    <tr>
                        <td><b>Model</b></td>
                        <td>PA1420</td>
                    </tr>
                    <tr>
                        <td><b>HA Partner</b></td>
                        <td>Firewall-2</td>
                    </tr>
                </table>
            </div>
            <br>
            <button class="w3-button w3-block w3-blue">Download Config</button>
            <button class="w3-button w3-block w3-green">Edit</button>
            <button class="w3-button w3-block w3-red">Delete</button>
            </div>
        </div>
    </div>
    {% endfor %}
    <button class="w3-button w3-block w3-green" id="add_device">Add Device</button>
    </div>
</div>

<!-- Site List -->
<br><hr>
<div class="w3-row-padding w3-margin-bottom">
    <header class="w3-container">
        <h2>Sites</h2>
    </header>

    <!-- Site Cards -->
    {% for site in site_list %}
    <div class="w3-quarter">
        <div class="w3-container w3-padding-16">
            <div class="w3-card-4">
                <header class="w3-container w3-light-grey">
                    <h3>{{ site.name }}</h3>
                </header>
                <button class="w3-button w3-block w3-green">Edit</button>
                <button class="w3-button w3-block w3-red">Delete</button>
            </div>
        </div>
    </div>
    {% endfor %}

    <button class="w3-button w3-block w3-green" id="add_site">Add Site</button>
</div>

<!-- The Device Modal -->
<div id="deviceModal" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">
        <div class="w3-center"><br>
            <span onclick="document.getElementById('deviceModal').style.display='none'" class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>
            <h3>Add Site</h3>
        </div>
        <form class="w3-container">
            <div class="w3-section">
                <label><b>Device Name</b></label>
                <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Friendly Name" name="deviceName" required>
                <label><b>Hostname</b></label>
                <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Hostname of IP of the device" name="hostName" required>
                <label><b>Site Membership</b></label>
                <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="The site this belongs to" name="siteMember" required>
                <label><b>API Key</b></label>
                <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="API key to access the device" name="apiKey" required>
                <button class="w3-button w3-block w3-green w3-section w3-padding" type="submit">Submit</button>
            </div>
        </form>

        <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
            <button onclick="document.getElementById('deviceModal').style.display='none'" type="button" class="w3-button w3-red">Cancel</button>
        </div>
    </div>
</div>

<!-- The Site Modal -->
<div id="siteModal" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">
        <div class="w3-center"><br>
            <span onclick="document.getElementById('siteModal').style.display='none'" class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>
            <h3>Add Site</h3>
        </div>
        <form class="w3-container">
            <div class="w3-section">
                <label><b>Site Name</b></label>
                <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter the name of the site" name="siteName" required>
                <button id="siteSubmit" class="w3-button w3-block w3-green w3-section w3-padding" type="submit">Submit</button>
            </div>
        </form>

        <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
            <button onclick="document.getElementById('siteModal').style.display='none'" type="button" class="w3-button w3-red">Cancel</button>
        </div>
    </div>
</div>

{% endblock %}
