<!-- index.html -->
{% extends "base.html" %}

{% block content %}

<table class="w3-table w3-striped w3-white w3-half w3-display-middle">
    <tr>
        <td><b>Flask Version</b></td>
        <td><i>{{ flask_version }}</i></td>
    </tr>
    <tr>
        <td><b>IP Address</b></td>
        <td><i>{{ ip_address }}</i></td>
    </tr>
    <tr>
        <td><b>OS Version</b></td>
        <td><i>{{ os_version }}</i></td>
    </tr>
    <tr>
        <td><b>Python Version</b></td>
        <td><i>{{ python_version }}</i></td>
    </tr>
    <tr>
        <td><b>User</b></td>
        <td><i>{{ user }}</i></td>
    </tr>
    <tr>
        <td><b>Username</b></td>
        <td><i>{{ user_name }}</i></td>
    </tr>
    <tr>
        <td><b>Groups</b></td>
        <td><i>{{ groups }}</i></td>
    </tr>
</table>

{% endblock %}